<header class="flex py-2 px-8 w-full bg-zinc-200 items-center shadow-xl sticky top-0 z-10">
    <a class="topbar__logo flex items-center w-[12rem]" [routerLink]="'/'">
        <img src="assets/layout/images/logo.svg" alt="SimpleSport" class="hidden xxs:block size-12" />
        <span class="text-3xl">S<span class="text-xl">imple</span>S<span class="text-xl">port</span></span>
    </a>

    <p-button icon="pi pi-bars" size="large" [rounded]="true" [text]="true" severity="secondary"
        (onClick)="load()"></p-button>


    <div class="ml-auto">
        <p-button icon="pi pi-refresh" size="large" [rounded]="true" [text]="true" severity="secondary"
            (onClick)="refresh()"></p-button>
    </div>

    <app-sidemenu [menuState]="menuState" />

</header>