<div
    class="fixed z-50 inset-0 w-screen h-screen bg-zinc-900 flex justify-center items-center text-white text-6xl lg:text-9xl p-2">
    <div id="simple" class="flex items-center">
        <span>S</span>
        <div class="text-3xl lg:text-6xl font-normal">
            <span>i</span>
            <span>m</span>
            <span>p</span>
            <span>l</span>
            <span>e</span>
        </div>
    </div>
    <div id="img-container" class="relative">
        <img src="../../../assets/layout/images/logo.svg" class="size-full absolute inset-0"
            style="filter: invert(1); clip-path: polygon(50% 50%,50% 50%,50% 50%,50% 50%);" />
    </div>
    <div id="sport" class="flex items-center">
        <span>S</span>
        <div class="text-3xl lg:text-6xl font-normal">
            <span>p</span>
            <span>o</span>
            <span>r</span>
            <span>t</span>
        </div>
    </div>
</div>