<style>
    :host {
        width: 100%;
    }
</style>
<div class="size-full p-2 2xl:p-10">
    <h1 class="text-3xl text-center font-semibold">Let's build your session together</h1>
    <div class="lg:px-8 2xl:px-52 lg:py-4 2xl:py-10 p-2 size-full">
        <div
            class="rounded-3xl bg-zinc-100 size-full flex flex-col lg:flex-row justify-between lg:justify-initial overflow-auto">
            <div class="flex flex-col gap-10 lg:overflow-y-auto lg:overflow-x-hidden" style="height: inherit;">
                <div class="min-h-fit w-full  p-4 flex flex-col gap-4 relative z-10 ">
                    <h2 class="text-xl font-semibold">Let's start by selecting a muscle:</h2>
                    <app-dropdown-muscle (selectedValue)="onMuscleSelected($event)" />
                    <h2 *ngIf="selectedMuscle" class="text-xl font-semibold">For what goal?</h2>
                    <app-radio-type *ngIf="selectedMuscle" (selectedTypeEvent)="onTypeSelected($event)" />
                </div>
                <div class="flex-col p-4 max-h-[35rem] size-full hidden lg:flex border-t-2"
                    *ngIf="selectedExercises.length != 0">
                    <h2 class="text-xl font-semibold">Summary of your session: </h2>
                    <app-recap [exercises]="selectedExercises" class="overflow-auto"
                        (sessionDurationStrChange)="handleSessionDurationString($event)" #toPdf id="toPdf" />
                    <button pButton pRipple type="button" label="Export"
                        class="p-button-raised bg-emerald-200 w-fit px-4 py-2 ml-auto mt-auto"
                        (click)="exportPDF($event)"></button>
                </div>
            </div>
            <div class="flex flex-col w-full lg:h-full h-fit p-4 gap-4 lg:border-l-2 item-self-end">
                <h2 *ngIf="loading" class="text-xl font-semibold">Loading exercises...</h2>
                <h2 *ngIf="selectedType && (exercises.length === 0 && selectedExercises.length != 0) && !loading"
                    class="text-xl font-semibold">No
                    exercises available for these criteria.</h2>
                <h2 *ngIf="exercises.length !=0 && !loading" class="text-xl font-semibold">Next, choose an exercise:
                </h2>
                <app-exercises
                    *ngIf="((exercises.length != 0 || selectedExercises.length != 0) && (!loading || !firstLoad))"
                    [exercises]="exercises" class="overflow-auto"
                    (selectedExercisesChange)="onExercisesSelected($event)" />
                <div class="flex-col p-4 max-h-[23rem] flex lg:hidden h-full w-full border-t-2"
                    *ngIf="selectedExercises.length != 0">
                    <h2 class="text-xl font-semibold">Summary of your session: </h2>
                    <app-recap [exercises]="selectedExercises" class="overflow-auto" />
                    <button pButton pRipple type="button" label="Export"
                        class="p-button-raised bg-emerald-200 w-fit px-4 py-2 ml-auto mt-auto"
                        (click)="exportPDF($event)"></button>
                </div>
            </div>
        </div>
    </div>
</div>